<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goods">

<!-- 전체 상품 + 페이징 -->
	<select id="allGoods" resultType="GoodsDto" parameterType="String">
		SELECT GOODS_NUM
	   		 , GOODS_TITLE
	   		 , USER_NUM
	   		 , GOODS_DOSO
	   		 , GOODS_IMG_TITLE
	   		 , GOODS_DELFLAG
	   		 , GOODS_COST
     	  FROM (
		         SELECT ROW_NUMBER() OVER (ORDER BY GOODS_NUM DESC) AS RN
		              , GOODS_NUM
	   		 		  , GOODS_TITLE
	   				  , USER_NUM
	   				  , GOODS_DOSO
	   				  , GOODS_IMG_TITLE
	   				  , GOODS_DELFLAG
	   				  , GOODS_COST
		           FROM GOODS
		       )
		 WHERE CEIL(RN/6) = #{pnum}
	</select>

<!-- 전체상품 (삭제여부) + 페이징 -->
	<select id="getEnabled" resultType="GoodsDto" parameterType="String">
		SELECT GOODS_NUM
	   		 , GOODS_TITLE
	   		 , USER_NUM
	   		 , GOODS_DOSO
	   		 , GOODS_IMG_TITLE
	   		 , GOODS_DELFLAG
	   		 , GOODS_COST
     	  FROM (
		         SELECT ROW_NUMBER() OVER (ORDER BY GOODS_NUM DESC) AS RN
		              , GOODS_NUM
	   		 		  , GOODS_TITLE
	   				  , USER_NUM
	   				  , GOODS_DOSO
	   				  , GOODS_IMG_TITLE
	   				  , GOODS_DELFLAG
	   				  , GOODS_COST
		           FROM GOODS
		          WHERE GOODS_DELFLAG = 1
		       )
		 WHERE CEIL(RN/6) = #{pnum}
	</select>	
	
<!-- 전체 페이지 수 -->         
	<select id="allPcount" resultType="int">
		SELECT CEIL(COUNT(*)/6)
		  FROM GOODS
	</select>
	
<!-- 전체 페이지 수 (삭제여부) -->         
	<select id="enabledPcount" resultType="int">
		SELECT CEIL(COUNT(*)/6)
		  FROM GOODS
		 WHERE GOODS_DELFLAG = 1
	</select>

<!-- 부위별 카테고리 -->
	<select id="category" resultType="Goods_kindDto">
		SELECT KIND_NUM
			 , KIND_NAME
 		  FROM GOODS_KIND
 		 ORDER BY KIND_NUM
	</select>
	
<!-- 카테고리 추가 -->
	<insert id="insertCategory" parameterType="String">
		INSERT INTO GOODS_KIND
		VALUES (
				 GOODS_KIND_SEQ.NEXTVAL
			   , #{kind_name}
			   )
	</insert>
	
<!-- 카테고리 삭제 -->
	<delete id="delCategory" parameterType="Map">
		DELETE FROM GOODS_KIND
 		 WHERE KIND_NUM IN
 		 <foreach collection="chk" item="kind_num" open="(" close=")" separator=",">
			   #{kind_num}
		</foreach>
	</delete>
	
<!-- 카테고리별 상품 -->
	<select id="categoryGoods" resultType="GoodsDto" parameterType="Map">
		SELECT GOODS_NUM
	 		 , GOODS_TITLE
			 , USER_NUM
			 , GOODS_DOSO
			 , GOODS_IMG_TITLE
			 , GOODS_DELFLAG
			 , KIND_NUM
			 , GOODS_COST
 		  FROM (
		         SELECT ROW_NUMBER() OVER (ORDER BY GOODS_NUM DESC) AS RN
		              , GOODS_NUM
	   		 		  , GOODS_TITLE
	   				  , USER_NUM
	   				  , GOODS_DOSO
	   				  , GOODS_IMG_TITLE
	   				  , GOODS_DELFLAG
	   				  , KIND_NUM
	   				  , GOODS_COST  
		           FROM GOODS
		          WHERE KIND_NUM = #{kind_num} 
		       )
		 WHERE CEIL(RN/6) = #{pnum}
	</select>
	
<!-- 카테고리별 상품 (삭제여부) -->
	<select id="getCateEnabled" resultType="GoodsDto" parameterType="String">
		SELECT GOODS_NUM
	   		 , GOODS_TITLE
	   		 , USER_NUM
	   		 , GOODS_DOSO
	   		 , GOODS_IMG_TITLE
	   		 , GOODS_DELFLAG
	   		 , KIND_NUM
	   		 , GOODS_COST
     	  FROM (
		         SELECT ROW_NUMBER() OVER (ORDER BY GOODS_NUM DESC) AS RN
		              , GOODS_NUM
	   		 		  , GOODS_TITLE
	   				  , USER_NUM
	   				  , GOODS_DOSO
	   				  , GOODS_IMG_TITLE
	   				  , GOODS_DELFLAG
	   				  , KIND_NUM
	   				  , GOODS_COST 
		           FROM GOODS
		          WHERE GOODS_DELFLAG = 1
		            AND KIND_NUM = #{kind_num}
		       )
		   WHERE CEIL(RN/6) = #{pnum}
	</select>
	
	<sql id="pcount">
		SELECT CEIL(COUNT(*)/6)
		  FROM GOODS
		 WHERE KIND_NUM = #{kind_num}
	</sql>
	<!-- 카테고리 페이지 수 -->         
	<select id="allCatePcount" resultType="int" parameterType="String">
		<include refid="pcount" />
	</select>
	
	<!-- 카테고리 페이지 수 (삭제여부) -->        
	<select id="enabledCatePcount" resultType="int" parameterType="String">
		<include refid="pcount" />
		   AND GOODS_DELFLAG = 1
	</select>	
	
<!-- 상품 추가 -->
	<insert  id="insertGoods" parameterType="GoodsDto">
		INSERT INTO GOODS
		VALUES (
		 		 GOODS_SEQ.NEXTVAL
	   		   , #{goods_title}
	   		   , #{user_num}
	  		   , #{goods_doso}
	  		   , #{goods_img_title}
	  		   , #{goods_img_detail}
	  		   , SYSDATE
	  		   , 1
	  		   , #{kind_num}
	  		   , #{goods_history}
	  		   , #{goods_cost}
	   		   )
	</insert>
	 
<!-- 상품 추가 (옵션) -->
	<insert id="insertGoods_option" parameterType="Goods_optionDto">
		INSERT INTO GOODS_OPTION
		VALUES (
				 GOODS_OPTION_SEQ.NEXTVAL
	  		   , (SELECT MAX(GOODS_NUM) FROM GOODS)
	  		   , #{option_name}
	  		   , #{option_count}
	  		   , #{option_weight}
	  		   )
	</insert>
	
<!-- 상품 추가 (부위 선택) -->
	<select id="kind_num" resultType="Goods_kindDto">
		SELECT KIND_NUM, KIND_NAME
 		  FROM GOODS_KIND
 		 ORDER BY KIND_NUM
	</select>
	
<!-- 상품 상세 -->
	<select id="getGoods" resultType="GoodsDto" parameterType="GoodsDto">
		SELECT GOODS_NUM
	 		 , GOODS_TITLE
			 , USER_NUM
			 , GOODS_IMG_TITLE
			 , GOODS_IMG_DETAIL
			 , KIND_NUM
			 , GOODS_HISTORY
			 , GOODS_COST
 		  FROM GOODS
 		 WHERE GOODS_NUM = #{goods_num}
	</select>
	
	
<!-- 상품 상세 (옵션) -->
	<select id="getGoods_option" resultType="Goods_optionDto" parameterType="Goods_optionDto">
		SELECT OPTION_NUM
			 , GOODS_NUM
			 , OPTION_NAME
			 , OPTION_COUNT
			 , OPTION_WEIGHT
 		  FROM GOODS_OPTION
 		 WHERE GOODS_NUM = #{goods_num}
		 ORDER BY OPTION_NUM
	</select>
	
<!-- 전체 상품에서 삭제 -->
	<update id="delGoods" parameterType="Map">
		UPDATE GOODS
 		   SET GOODS_DELFLAG = 0
 		 WHERE GOODS_NUM IN
 		 <foreach collection="chk" item="goods_num" open="(" close=")" separator=",">
			   #{goods_num}
		</foreach>
	</update>
	
<!-- 카테고리 상품에서 삭제 -->
	<update id="delCateGoods" parameterType="Map">
		UPDATE GOODS
 		   SET GOODS_DELFLAG = 0
 		 WHERE GOODS_NUM IN
 		 <foreach collection="chk" item="goods_num" open="(" close=")" separator=",">
			   #{goods_num}
		</foreach>
		   AND KIND_NUM = #{kind_num}
	</update>
	
<!-- 상품 수정 -->
	<update id="upGoods" parameterType="GoodsDto">
		UPDATE GOODS
  		   SET GOODS_TITLE = #{goods_title}
			 , GOODS_DOSO = #{goods_doso}
			 , GOODS_IMG_TITLE = #{goods_img_title}
			 , GOODS_IMG_DETAIL = #{goods_img_detail}
			 , GOODS_DATE = SYSDATE
	  		 , GOODS_DELFLAG = 1
			 , KIND_NUM = #{kind_num}
			 , GOODS_HISTORY = #{goods_history}
			 , GOODS_COST = #{goods_cost}
 		 WHERE GOODS_NUM = #{goods_num}
	</update>
	
<!-- 상품 수정 (옵션) -->
	<update id="upGoods_option" parameterType="Goods_optionDto">
		UPDATE GOODS_OPTION
  		   SET OPTION_NAME = #{option_name}
			 , OPTION_COUNT = #{option_count}
			 , OPTION_WEIGHT = #{option_weight}
 		 WHERE OPTION_NUM = #{option_num}
	</update>

	
	
</mapper>