<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.QnA">

	<sql id="selectFAQ">
		SELECT FAQ_NUM
			 , FAQ_TITLE
			 , FAQ_CONTENT
		  FROM FAQ
	</sql>
	
	<select id="getFAQList" resultType="FAQDto">
		<include refid="selectFAQ"></include>
	     ORDER BY FAQ_NUM DESC
	</select>
	
	<select id="faqdetail" resultType="FAQDto">
		<include refid="selectFAQ"></include>
	     WHERE FAQ_NUM = #{faq_num}
	</select>
	
	<insert id="faqinsertboard" parameterType="FAQDto">
		INSERT INTO FAQ
		VALUES (
			   FAQ_SEQ.NEXTVAL
	   		 , #{faq_title}
	  		 , #{faq_content}
	   		   )
	</insert>
	
	<update id="faqupdateboard" parameterType="FAQDto">
		UPDATE FAQ
		   SET FAQ_TITLE = #{faq_title}
			 , FAQ_CONTENT = #{faq_content}
		 WHERE FAQ_NUM = #{faq_num}
	</update>
	
	<delete id="faqdelboard" parameterType="int">
		DELETE
		  FROM FAQ
 		 WHERE FAQ_NUM=#{faq_num}
	</delete>
	
	<select id="questionlist" parameterType="Map" resultType="QnADto">
		SELECT QUESTION_NUM
			 , USER_NUM
			 , QUESTION_TITLE
			 , QUESTION_CONTENT
			 , QUESTION_READCOUNT
			 , QUESTION_REGDATE
			 , QUESTION_STATUS
		  FROM (
				 SELECT ROW_NUMBER() OVER (ORDER BY QUESTION_REGDATE DESC) AS RN
					  , QUESTION_NUM
					  , USER_NUM
					  , QUESTION_TITLE
					  , QUESTION_CONTENT
					  , QUESTION_READCOUNT
					  , QUESTION_REGDATE
					  , QUESTION_STATUS
				   FROM QUESTION
			   )
		 WHERE CEIL(RN/5) = #{pnum}
	 <if test="user_num != null">
	   AND USER_NUM = #{user_num}
	 </if>
	</select>
	
	<insert id="questioninsert" parameterType="QnADto">
		INSERT INTO QUESTION
		VALUES (
		 	   QUESTION_SEQ.NEXTVAL
	   		 , #{user_num}
	   		 , #{question_title}
	   		 , #{question_content}
	  		 , 0
	 	     , SYSDATE
	   		 , 'N'
	   		   )
	</insert>
	
	<update id="questionupdate" parameterType="QnADto">
		UPDATE QUESTION
  		   SET QUESTION_TITLE = #{question_title}
	         , QUESTION_CONTENT = #{question_content}
			 , QUESTION_REGDATE = SYSDATE
		 WHERE QUESTION_NUM = #{question_num}
	</update>
	
	<delete id="questiondelete" parameterType="int">
		DELETE
		  FROM QUESTION
 		 WHERE QUESTION_NUM = #{question_num}
	</delete>
	
	<select id="questiondetail" parameterType="int" resultType="QnADto">
		SELECT QUESTION_NUM
			 , USER_NUM
			 , QUESTION_TITLE
			 , QUESTION_CONTENT
			 , QUESTION_READCOUNT
			 , QUESTION_REGDATE
			 , QUESTION_STATUS 
		  FROM QUESTION
		 WHERE QUESTION_NUM = #{question_num}
	</select>
	
	<update id="questionreadcount" parameterType="int">		
		UPDATE QUESTION 
		   SET QUESTION_READCOUNT = QUESTION_READCOUNT+1
		 WHERE QUESTION_NUM = #{question_num}
	</update>
	
	<update id="statuschange" parameterType="int">
		UPDATE QUESTION
  		   SET QUESTION_STATUS = 'Y'
 		 WHERE QUESTION_NUM = #{question_num}
	</update>
	
	<sql id="questionCeil">
		SELECT CEIL(COUNT(*)/5)
		  FROM QUESTION
	</sql>
	
	<!-- 전체 문의글 페이징 처리 -->
	<select id="qnapcount" resultType="int">
		<include refid="questionCeil" />
	</select>
	
	<!-- 자신의 문의글만 볼수있는페이지 (페이징처리) -->
	<select id="qnappcount" resultType="int" parameterType="int">
		<include refid="questionCeil" />
		 WHERE USER_NUM = #{user_num}
	</select>
	
	<!-- 답변 삭제 -->
	<delete id="answerdelete" parameterType="int">
		DELETE
		  FROM ANSWER
 		 WHERE QUESTION_NUM = #{question_num}
	</delete>
</mapper>