<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.QnA">

	<sql id="selectFAQ">
		SELECT FAQ_NUM
			 , FAQ_TITLE
			 , FAQ_CONTENT
		  FROM FAQ
	</sql>
	
	<select id="getFAQList" resultType="FAQDto">
		<include refid="selectFAQ"></include>
	     ORDER BY FAQ_NUM DESC
	</select>
	
	<select id="FAQdetail" resultType="FAQDto">
		<include refid="selectFAQ"></include>
	     WHERE FAQ_NUM = #{faq_num}
	</select>
	
	<insert id="FAQinsertBoard" parameterType="FAQDto">
		INSERT INTO FAQ
		VALUES (
			   FAQ_SEQ.NEXTVAL
	   		 , #{faq_title}
	  		 , #{faq_content}
	   		   )
	</insert>
	
	<update id="FAQupdateBoard" parameterType="FAQDto">
		UPDATE FAQ
		   SET FAQ_TITLE = #{faq_title}
			 , FAQ_CONTENT = #{faq_content}
		 WHERE FAQ_NUM = #{faq_num}
	</update>
	
	<delete id="FAQdelBoard" parameterType="int">
		DELETE
		  FROM FAQ
 		 WHERE FAQ_NUM=#{faq_num}
	</delete>
	
	<select id="getQuestionList" parameterType="Map" resultType="QnADto">
		SELECT Q.QUESTION_NUM
			 , Q.USER_NUM
			 , Q.QUESTION_TITLE
			 , Q.QUESTION_CONTENT
			 , Q.QUESTION_REGDATE
			 , Q.QUESTION_STATUS
			 , Q.QUESTION_ANSWER
			 , Q.ANSWER_REGDATE
			 , U.USER_NICK
		  FROM (
				 SELECT ROW_NUMBER() OVER (ORDER BY QUESTION_NUM DESC) AS RN
					  , QUESTION_NUM
					  , USER_NUM
					  , QUESTION_TITLE
					  , QUESTION_CONTENT
					  , QUESTION_REGDATE
					  , QUESTION_STATUS
					  , QUESTION_ANSWER
					  , ANSWER_REGDATE
				   FROM QUESTION
			   ) Q
			 , USER_INFO U
		 WHERE Q.USER_NUM = U.USER_NUM
		   AND CEIL(Q.RN/5) = #{pnum}
	 <if test="user_num != null">
		   AND Q.USER_NUM = #{user_num}
	 </if>
	</select>
	
	<insert id="Questioninsert" parameterType="QnADto">
		INSERT INTO QUESTION
		VALUES (
		 	   QUESTION_SEQ.NEXTVAL
	   		 , #{user_num}
	   		 , #{question_title}
	   		 , #{question_content}
	 	     , SYSDATE
	   		 , 0
	   		 , NULL
	   		 , NULL
	   		   )
	</insert>
	
	<update id="Questionupdate" parameterType="QnADto">
		UPDATE QUESTION
  		   SET QUESTION_TITLE = #{question_title}
	         , QUESTION_CONTENT = #{question_content}
			 , QUESTION_REGDATE = SYSDATE
		 WHERE QUESTION_NUM = #{question_num}
	</update>
	
	<delete id="Questiondelete" parameterType="int">
		DELETE
		  FROM QUESTION
 		 WHERE QUESTION_NUM = #{question_num}
	</delete>
	
	<select id="Questiondetail" parameterType="int" resultType="QnADto">
		SELECT Q.QUESTION_NUM
			 , Q.USER_NUM
			 , Q.QUESTION_TITLE
			 , Q.QUESTION_CONTENT
			 , Q.QUESTION_REGDATE
			 , Q.QUESTION_STATUS
			 , Q.QUESTION_ANSWER
			 , Q.ANSWER_REGDATE
			 , U.USER_NICK
		  FROM QUESTION Q
		 	 , USER_INFO U
		 WHERE Q.USER_NUM = U.USER_NUM
		   AND Q.QUESTION_NUM = #{question_num}
	</select>
	
	<update id="StatusChange" parameterType="int">
		UPDATE QUESTION
  		   SET QUESTION_STATUS = 1
 		 WHERE QUESTION_NUM = #{question_num}
	</update>
	
	<sql id="questionCeil">
		SELECT CEIL(COUNT(*)/5)
		  FROM QUESTION
	</sql>
	
	<!-- 전체 문의글 페이징 처리 -->
	<select id="QnAPcount" resultType="int">
		<include refid="questionCeil" />
	</select>
	
	<!-- 자신의 문의글만 볼수있는페이지 (페이징처리) -->
	<select id="QnAUserPcount" resultType="int" parameterType="int">
		<include refid="questionCeil" />
		 WHERE USER_NUM = #{user_num}
	</select>
	
	<update id="Answerinsert">
		UPDATE QUESTION
  		   SET QUESTION_STATUS = 2
  			 , QUESTION_ANSWER = #{question_answer}
  			 , ANSWER_REGDATE = SYSDATE
  		 WHERE QUESTION_NUM = #{question_num}
	</update>
	
	
	
	
</mapper>