<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.search">

	<select id="goodsSearch" parameterType="String" resultType="GoodsDto">
		SELECT G.GOODS_NUM
			 , G.GOODS_TITLE
			 , G.GOODS_IMG_TITLE
			 , G.GOODS_COST
			 , U.USER_NICK
		  FROM (
		 		 SELECT ROW_NUMBER() OVER (ORDER BY GOODS_DATE DESC) AS RN
					  , GOODS_NUM
					  , GOODS_TITLE
					  , GOODS_IMG_TITLE
					  , KIND_NUM
					  , GOODS_COST
					  , USER_NUM
				   FROM GOODS
				  WHERE GOODS_TITLE LIKE '%'||#{search_word}||'%'
			   ) G
			 , USER_INFO U
		 WHERE G.USER_NUM = U.USER_NUM
		   AND CEIL(RN/5) = 1
	</select>
	
	<select id="CategorySearch" parameterType="String" resultType="Goods_kindDto">
		SELECT KIND_NUM
		 	 , KIND_NAME
		  FROM GOODS_KIND
		 WHERE KIND_NAME LIKE '%'||#{search_word}||'%'
	</select>
	
	<select id="boardSearch" parameterType="String" resultType="BoardDto">
		SELECT B.BOARD_NUM
			 , B.USER_NUM
			 , B.BOARD_TITLE
			 , B.BOARD_CONTENT
			 , B.BOARD_REGDATE
			 , B.BOARD_READCOUNT
			 , B.BOARD_NOTICE
			 , U.USER_NICK
		  FROM (
			     SELECT ROW_NUMBER() OVER (ORDER BY BOARD_REGDATE DESC) AS RN
					  , BOARD_NUM
					  , USER_NUM
					  , BOARD_TITLE
					  , BOARD_CONTENT
					  , BOARD_REGDATE
					  , BOARD_READCOUNT
					  , BOARD_NOTICE
				   FROM BOARD
				  WHERE BOARD_TITLE LIKE '%'||#{search_word}||'%'
			   ) B
			 , USER_INFO U
		 WHERE B.USER_NUM = U.USER_NUM
		   AND CEIL(B.RN/5) = 1
	</select>
	
	<select id="beSearch" parameterType="String" resultType="int">
		SELECT COUNT(SEARCH_WORD)
		  FROM SEARCH
		 WHERE SEARCH_WORD = #{search_word}
	</select>
	
	<update id="addSearch" parameterType="String">
		UPDATE SEARCH
		   SET SEARCH_COUNT = SEARCH_COUNT+1
		 WHERE SEARCH_WORD = #{search_word}
	</update>
	
	<insert id="addWord" parameterType="String">
		INSERT INTO SEARCH
		VALUES (
				 #{search_word}
			   , 1
			   , NULL
			   , NULL
			   )
	</insert>
	
	<update id="searchClear">
		<![CDATA[
		UPDATE SEARCH
		   SET SEARCH_FAKE_RANKING = NULL
			 , SEARCH_FAKE_DATE = NULL
		 WHERE SEARCH_FAKE_DATE < SYSDATE
		 ]]>
	</update>
	
	<select id="bestSearch" resultType="SearchDto">
		<![CDATA[
		SELECT SEARCH_WORD
			 , SEARCH_COUNT
			 , SEARCH_FAKE_RANKING
			 , SEARCH_FAKE_DATE
		  FROM (
		 		 SELECT ROW_NUMBER() OVER (ORDER BY SEARCH_FAKE_RANKING, SEARCH_COUNT DESC) AS RN
					  , ROW_NUMBER() OVER (ORDER BY SEARCH_COUNT DESC) AS RT
					  , SEARCH_WORD
					  , SEARCH_COUNT
					  , SEARCH_FAKE_RANKING
					  , SEARCH_FAKE_DATE
				   FROM SEARCH
			   )
		 WHERE RN < 6
		 ]]>
	</select>
	
	<update id="updateBestSearch" parameterType="SearchDto">
		UPDATE SEARCH
		   SET SEARCH_FAKE_RANKING = #{search_fake_ranking}
			 , SEARCH_FAKE_DATE = SYSDATE + (1/24/60)
		 WHERE SEARCH_WORD = #{search_word}
	</update>
	
	<insert id="insertBestSearch" parameterType="SearchDto">
		INSERT INTO SEARCH
		VALUES (
				 #{search_word}
			   , 0
			   , #{search_fake_ranking}
			   , SYSDATE + (1/24/60)
			   )
	</insert>
	
</mapper>